	body {
		color:#01A9DB;
		background: url(img/greyzz/greyzz.png) repeat 0 0; 
		background-color: white;
		color: white;
		font-family: 'Hammersmith One', sans-serif;
		font-size: 17px;

	}

	a:link {
			color:#33CC66;
			text-decoration:none;
			font-family: 'Hammersmith One', sans-serif;
			font-size: 19px;
			}             
			
	a:visited {
			color:#33CC66;
			text-decoration:none;
			font-family: 'Hammersmith One', sans-serif;
			font-size: 19px;
				}
	a:hover { 
			color:#b45656;
			text-decoration: none;
			font-family: 'Hammersmith One', sans-serif;
			font-size: 19px;
			}
	a:active {
			background: #FF4500;
			color: black;
			font-family: 'Hammersmith One', sans-serif;
			font-size: 19px;
			}

	p  {
		font-family: 'Hammersmith One', sans-serif;
		color: black;
		font-size: 16px;
		line-height: 25px;
		text-align: justify;
		display: block;
		margin-left:150px;
		margin-right: 150px;
		}

	
	hr {
		position: relative;
		bottom:10px;
	}
	


	ul , ol{
			font-family: 'Hammersmith One', sans-serif;
			font-size: 20px;
			line-height: 180%;
			color:#464646
		}


	h3 {
		width: 430px;
		margin: 30px auto 16px;
		text-align: center;
		font-family: 'Hammersmith One', sans-serif;
		font-size: 20px;
		color: black;
		text-transform: uppercase;
		}
		
	h4 {
		color: black;
	}
		
	#footer {
		 position: fixed center;
		 font-family: 'Vollkorn', Georgia, Times, serif;
		 left: 0px;
		 bottom: 0px:
		 width: 100%;
		 border-top:1px solid black;
		 text-indent: 45%;
		 color: #585858;
		}
		

	#caption {
		font-family: 'Vollkorn', Georgia, Times, serif;
		text-align: center;	
		color: black;
	}

	#video {
		text-align:center;
		padding-top: 4px;
	}
	
	#header-img {
		text-align:center;
		padding-top:10px;
		}

	.main-header {
			position: relative;
			bottom: 75px;
			left: 5px;
		}

	ul.nav {
		list-style: none;
		float: right;
		position: relative;
		bottom: 15px;
	}

	ul.nav li{
		float: left;
		margin-right: 25px;
		border-radius: 10px;
		background-color: #33CC66;
		padding: 0px 5px 0px 5px;

	}

	ul.nav li a{
		color: black;
		font-size: 16px;
		font-family: 'Alegreya Sans SC', sans-serif;
	}

	ul.nav li:hover {
		background-color: #7ade9b;
	}

	ul.nav li a:hover{
		color: black;
		text-decoration: none;
		font-size: 16px;
	}

	ul.nav li a:active {
		color: white;
		text-decoration: none;
		background: none;

	}

	h1 {
		text-align: center;
		font-family: 'Alegreya Sans SC', sans-serif;
		color: black;
	}

	ul.social-nav {
		list-style: none;
		position: relative;
		right: 22px;


	}
	ul.social-nav li{
		margin: auto;
		/*margin-left: 7px;*/
		display: inline-block;	
	}

		

		
		